.bold {
  font-weight: bold; }

.pointer {
  cursor: pointer; }
  .pointer:hover {
    opacity: 0.5; }

.font-blue {
  color: #0d75ff; }

.font-red {
  color: #ff2a2a !important; }

.pr-5 {
  padding-right: 5px; }

.p-0 {
  padding: 0px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #fefefe;
  /*background: url(../images/cover-3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/ }

* {
  padding: 0;
  margin: 0; }

body {
  font-size: 100%; }

body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: default; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

video {
  max-width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

iframe {
  border-style: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

input {
  border-style: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

nav {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

textarea, input, select, button {
  font-family: Open sans, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-appearance: none; }

textarea:focus, input:focus, select:focus, button:focus {
  outline: 0; }

/* Typography Resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr; }

.container {
  display: flex;
  flex-wrap: wrap; }

.flex, .header, .nav ul {
  display: flex;
  flex-wrap: wrap; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66667%; }

.col-10 {
  width: 83.33333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66667%; }

.col-7 {
  width: 58.33333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66667%; }

.col-4 {
  width: 33.33333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66667%; }

.col-1 {
  width: 8.333333%; }

@media (max-width: 1023px) {
  .col-12 {
    width: 100%; }

  .col-11 {
    width: 100%; }

  .col-10 {
    width: 100%; }

  .col-9 {
    width: 100%; }

  .col-8 {
    width: 100%; }

  .col-7 {
    width: 100%; }

  .col-6 {
    width: 100%; }

  .col-5 {
    width: 100%; }

  .col-4 {
    width: 100%; }

  .col-3 {
    width: 100%; }

  .col-2 {
    width: 100%; }

  .col-1 {
    width: 100%; }

  .col-12.is-fixed {
    width: 100%; }

  .col-11.is-fixed {
    width: 91.66667%; }

  .col-10.is-fixed {
    width: 83.33333%; }

  .col-9.is-fixed {
    width: 75%; }

  .col-8.is-fixed {
    width: 66.66667%; }

  .col-7.is-fixed {
    width: 58.33333%; }

  .col-6.is-fixed {
    width: 50%; }

  .col-5.is-fixed {
    width: 41.66667%; }

  .col-4.is-fixed {
    width: 33.33333%; }

  .col-3.is-fixed {
    width: 25%; }

  .col-2.is-fixed {
    width: 16.66667%; }

  .col-1.is-fixed {
    width: 8.333333%; } }
.button--pointer {
  cursor: pointer; }

.form--input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-right: -1px; }

@media (max-width: 1023px) {
  input {
    font-size: 16px; } }

.header {
  background: url(../images/header-home.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: border-box;
  background-attachment: scroll;
  background-size: cover;
  height: 443px; }

.nav {
  align-self: flex-end;
  padding: 20px 40px; }
  .nav ul {
    flex-direction: row; }
    .nav ul li {
      color: #fefefe;
      padding: 10px;
      font-size: 14px;
      font-weight: 600; }

.content {
  background: #000; }
  @media (min-width: 1024px) {
    .content {
      position: relative;
      height: 100vh; } }
  @media (max-width: 1023px) {
    .content {
      width: 100%; } }

.slick-slider {
  text-align: center; }
  .slick-slider h3 {
    margin-bottom: 5px; }
  .slick-slider p {
    font-size: 12px; }

.tingle-btn {
  width: 100%; }

.content--play-btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center; }
  @media (max-width: 1023px) {
    .content--play-btn {
      top: 30%; } }

.content--play-btn i {
  cursor: pointer;
  font-size: 100px; }
  .content--play-btn i:hover {
    opacity: 0.5; }

.content--video {
  z-index: 1; }
  @media (min-width: 1024px) {
    .content--video {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); } }

.content--toolbar {
  background: -moz-linear-gradient(top, transparent 0%, rgba(38, 38, 38, 0.7) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(38, 38, 38, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(38, 38, 38, 0.7) 100%);
  position: absolute;
  bottom: 0px;
  color: #fefefe;
  padding: 10px 0px;
  width: 100%; }

.content--toolbar .l--title p {
  font-weight: 600; }

.content--toolbar li {
  cursor: pointer;
  float: right;
  padding: 0px 10px; }
  .content--toolbar li:first-child {
    padding-right: 15px; }

@media (max-width: 1023px) {
  .content--toolbar .l--control {
    display: none; } }

.content--credit {
  position: absolute;
  bottom: 0;
  color: #a1a1a1; }
  .content--credit a {
    color: #c1c1c1;
    cursor: pointer; }
  @media (max-width: 1023px) {
    .content--credit {
      display: none; } }

.chat {
  display: flex;
  flex-flow: column;
  height: 100vh; }
  @media (max-width: 1023px) {
    .chat {
      width: 100%;
      flex: 1;
      display: flex; } }

.chat--body {
  flex: 1;
  display: flex;
  z-index: 1; }

.chat--body ul {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll; }

.chat--body li {
  padding: 5px 15px;
  font-size: 12px; }

.chat--body li.l--notification {
  margin-bottom: 5px; }

.chat--body li.l--notification span {
  background: #e1e1e1;
  padding: 5px;
  border-radius: 2px; }

.chat--body li.l--register div {
  background: #e1e1e1;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 5px; }

.chat--body li.l--mention {
  background: #FFF3B8; }

.chat--body li span.l--admin {
  background-color: #ff0000;
  color: #fefefe;
  padding: 0px 3px 0px 3px; }

.chat--body li span.l--moderator {
  background-color: #8700ff;
  color: #fefefe;
  padding: 0px 3px 0px 3px; }

.chat--settings {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  overflow: hidden;
  overflow-y: scroll; }

.chat--settings .l--label {
  color: #0d75ff;
  padding-bottom: 0px;
  font-weight: 600; }

.chat--settings input {
  padding-top: 0px; }

.chat--nav {
  background: #fefefe;
  font-size: 12px;
  z-index: 2; }

.chat--nav p {
  font-size: 12px;
  padding: 10px 0px;
  color: #777; }

.chat--nav input {
  padding: 0px; }

.chat--nav button {
  background: #fefefe;
  color: #333;
  border: none;
  padding: 10px; }

.chat--nav .l--form {
  padding-top: 10px;
  padding-bottom: 20px; }

.chat--nav .l--form input {
  padding: 10px 0px 5px 0px;
  margin-bottom: 5px;
  border-bottom: 1px solid #c1c1c1; }

.chat--nav .l--form .l--submit {
  background: #0d75ff;
  padding: 5px 0px;
  width: 100%;
  color: #fefefe;
  font-size: 12px;
  border-radius: 2px; }

.chat--write {
  border-top: 1px solid #c1c1c1; }

.chat--header {
  border-bottom: 1px solid #c1c1c1; }

.chat--emoji {
  padding: 10px 0px; }

.chat--emoji img {
  float: left;
  padding-right: 5px; }

.chat--emoji-btn {
  font-size: 16px;
  padding: 10px 0px;
  color: #666; }

.video--box {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video--box iframe,
.video--box object,
.video--box embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.emoji--chat {
  height: 18px; }

.emoji--thumb {
  height: 18px;
  filter: brightness(0%); }

.emoji--thumb.emoji--click {
  filter: brightness(100%);
  cursor: pointer; }

.stats {
  margin-top: 15px;
  background: #0d75ff;
  border-radius: 5px;
  padding: 5px 10px; }

.stats p {
  padding: 0;
  color: #fefefe; }

@media (max-width: 1023px) {
  .wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh; } }

/*

by: Marcel Christianis - August 2016
marcelchristianis.com

Notes on classes

Classes follows the format:
cluster--components

Specially reserved cluster:
l--components
-->Used for local classes

Framework used:
Aviare

*/

/*# sourceMappingURL=style.css.map */
