<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Logangster - Logan Paul Vlogs Live Streaming</title>
  <meta name="description" content="Watch all Logan Paul Vlogs together with other Logangsters Live!" />

  <link rel="shortcut icon" type="image/png" href="/emoji/logan.png" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/tingle.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css" />
  <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/interact.js/1.3.0-alpha.1/interact.min.js"></script>
  <script src="/js/tingle.js"></script>

  <style>
    .slick-slider div {
      text-align: center;
    }

    .slick-slider img {
      margin: auto;
    }
  </style>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61938466-7', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>

  <div class="container-fluid">
    <div class="row wrapper">

      <div class="col-sm-12 col-md-9 p-0 content">
        <div class="content--video embed-responsive embed-responsive-16by9 col-xs-12 text-center">
          <div class="content--play-btn js-play-btn hide">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
          </div>
          <div id="player"></div>
          <div class="content--toolbar hide">
            <div class="col-sm-12 col-md-6 l--title text-left">
              <p>
                <span class="js-video-title">marcelc63</span> @
                <span class="js-video-published-at">2017-07-22</span> (
                <span class="js-video-current">63</span> of
                <span class="js-video-total">69</span>)</p>
            </div>

            <div class="col-sm-12 col-md-6 l--control">
              <ul>
                <li class="js-chat-toggle button--pointer">
                  <i class="fa fa-comment" aria-hidden="true"></i> Chat Box
                </li>
                <li class="js-fullscreen button--pointer">
                  <span class="glyphicon glyphicon-resize-full"></span> Full Screen
                </li>
                <li class="js-sound button--pointer">
                  <span class="glyphicon glyphicon-volume-down"></span> Toggle Sound
                </li>
                <li class="js-play-btn button--pointer">
                  <i class="fa fa-refresh" aria-hidden="true"></i> Sync Video
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content--credit">
          <p>
            <a href="https://twitter.com/marcelc63" target="_blank">By a Logangster</a> for
            <a href="https://twitter.com/search?q=logang" target="_blank">Logan Paul and the Logang!</a> Visit
            <a href="https://www.youtube.com/channel/UCG8rbF3g2AMX70yOd8vqIZg" target="_blank">Logan's Channel</a> and don't forget to
            <a href="https://shoploganpaul.com" target="_blank">buy Maverick merch!</a>
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-3 p-0 chat">
        <div class="col-sm-12 chat--header chat--nav">
          <div class="col-xs-6 p-0">
            <p class="js-premiere-offline">LA Time
              <span class="js-la-time">0:0</span>
            </p>
            <p class="js-premiere-online hide">
              <b>Premiering Now</b>
            </p>
          </div>
          <div class="col-xs-6 p-0 text-right">
            <p class="toolbar-desktop">
              <span class="js-count">0</span> Logangsters Online
              <i class="fa fa-eye js-show-user pointer" aria-hidden="true"></i>
            </p>
            <p class="toolbar-mobile hide">
              <span class="js-show-user pr-5">
                <span class="js-count">0</span>
                <i class="fa fa-eye pointer" aria-hidden="true"></i>
              </span>
              <span class="js-profile font-blue v-hide v-loggedIn">
                <i class="fa fa-sliders" aria-hidden="true"></i>
              </span>
            </p>
          </div>
        </div>

        <div class="col-sm-12 p-0 chat--body chat--messages chat--menu ">
          <ul class="js-messages">
            <li>
              <b>An iPhone App will be coming soon! Sorry it took a while. Keep an eye on this site next week! -Moderator 21 November 2017</b>
            </li>
          </ul>
        </div>

        <div class="col-sm-12 p-0 chat--body chat--online chat--menu hide">
          <ul class="js-user-online">
            <li>Online Logangsters:</li>
          </ul>
        </div>

        <div class="col-sm-12 p-0 chat--body chat--profile chat--menu hide">
          <div class="chat--nav chat--settings">
            <div class="stats">
              <p>
                <b>Your score so far</b>
              </p>
              <p>Chat Sent |
                <span class="js-points-chat">100</span>
              </p>
              <p>Vlog Watched |
                <span class="js-points-vlog">5</span>
              </p>
              <p>Total Points |
                <span class="js-points-total">120</span>
              </p>
            </div>
            <form class='js-settings l--form' action="">
              <p class="l--label">Change Username</p>
              <p class="l--label js-settings-notif hide"></p>
              <input class="col-xs-12 js-username" placeholder="New Username" type="text" autocomplete="off" />
              <button class="l--submit">Change Username</button>
            </form>
          </div>
        </div>

        <div class="col-sm-12 p-0 chat--body chat--scoreboard chat--menu hide">
          <div class="chat--nav chat--settings">
            <div class="stats">
              <p>
                <b>Scoreboard</b>
              </p>
            </div>
            <ul class="js-scores">
            </ul>
          </div>
        </div>

        <div class="col-sm-12 p-0 chat--body chat--giveaway chat--menu hide">
          <div class="chat--nav chat--settings">
            <div class="stats">
              <p>
                <b>Giveaway</b>
              </p>
              <p>Complete the data below so we know how to contact you
                <b>if you win</b>
              </p>
            </div>
            <form class='js-form-giveaway l--form' action="">
              <p class="l--label">Country</p>
              <input class="col-xs-12 js-val-country" placeholder="Country" type="text" autocomplete="off" />
              <p class="l--label">Instagram Username</p>
              <input class="col-xs-12 js-val-instagram" placeholder="Instagram Username" type="text" autocomplete="off" />
              <p class="l--label">Twitter Username</p>
              <input class="col-xs-12 js-val-twitter" placeholder="Twitter Username" type="text" autocomplete="off" />
              <p class="l--label">Facebook Username</p>
              <input class="col-xs-12 js-val-facebook" placeholder="Facebook Username" type="text" autocomplete="off" />
              <p class="l--label">Email</p>
              <input class="col-xs-12 js-val-email" placeholder="Email" type="text" autocomplete="off" />
              <button class="l--submit">Submit Data</button>
            </form>
          </div>
        </div>

        <div class="col-sm-12 chat--write chat--nav">

          <div class="col-xs-12 v-hide chat--emoji js-emoji-panel hide">
            <% include emoji.ejs %>
          </div>

          <div class="col-xs-12 v-hide v-loggedIn hide">
            <form class="container p-0 col-sm-12 js-chat" action="">
              <span class="col-xs-1 chat--emoji-btn js-emoji-btn button--pointer" data-toggle="tooltip" title="Emojis Here!">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
              </span>
              <input class="col-xs-10 js-m form--input" placeholder="Type a message here..." autocomplete="off" />
              <button class="col-xs-1 p-0">
                <span class="glyphicon glyphicon-send"></span>
              </button>
            </form>
            <p class="text-right">
              <span class="js-scoreboard button--pointer font-blue">
                <i class="fa fa-star" aria-hidden="true"></i> Score</span> |
              <span class="js-giveaway button--pointer font-blue">
                <i class="fa fa-trophy" aria-hidden="true"></i> Giveaway</span> |
              <span class="js-profile button--pointer font-blue">
                <i class="fa fa-sliders" aria-hidden="true"></i> Profile</span> |
              <span class="js-logout button--pointer">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span>
            </p>
          </div>

          <div class="v-hide v-loggedOut l--view">
            <p>
              <span class="js-btn-login button--pointer bold font-blue">Login</span> or
              <span class="js-btn-register button--pointer bold font-blue">Register</span>
            </p>
          </div>

          <div class="v-hide l--form l--view hide">
            <p class="js-error-login font-red hide">Username or password is wrong</p>
            <form class='js-login' action="">
              <input class="col-xs-6 js-username" placeholder="Username" type="text" autocomplete="off" />
              <input class="col-xs-6 js-password" placeholder="Password" type="password" autocomplete="off" />
              <button class="l--submit">Login</button>
            </form>
            <p>or
              <span class="js-btn-register button--pointer bold">Register</span> instead</p>
          </div>

          <div class="v-hide l--form l--view hide">
            <form class='js-register' action="">
              <input class="col-xs-6 js-username" placeholder="Username" type="text" autocomplete="off" />
              <input class="col-xs-6 js-password" placeholder="Password" type="password" autocomplete="off" />
              <button class="l--submit">Register</button>
            </form>
            <p>or
              <span class="js-btn-login button--pointer bold">Login</span> instead</p>
          </div>


        </div>
      </div>

    </div>
  </div>

  <div class="content--modal hide">
    <div class="slick-slider">
      <div class="text-center">
        <h3>A Movement of Mavericks</h3>
        <p>A new way for Logangsters to Interact by Watching Logan Paul Vlogs Together in Sync and Chatting with Cool Logan
          Paul Emoji.
        </p>
        <p>
          <b>Our giveaway partners: logangster_2 and logang4life_bro on Instagram.</b>
        </p>
        <p>
          <img src="images/giveawayfull.png">
        </p>
        <p>Register to get started. We only need your username and password, that's it!</p>
        <p style="font-size:10px;font-style:italic;margin-top:10px;">BTW just FYI, the site streams directly from Logan\'s youtube page. So we\'re not stealing any of his videos :) Also
          currently the site is best viewed on a laptop but we're improving the mobile experience. Thanks!</p>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/build/script.js"></script>
  <script type="text/javascript" src="/js/slick.min.js"></script>

  <script>
    $(document).ready(function () {

      // instanciate new modal
      var modal = new tingle.modal({
        footer: true,
        stickyFooter: false,
        closeMethods: ['overlay', 'button', 'escape'],
        closeLabel: "Close",
        cssClass: ['custom-class-1', 'custom-class-2'],
        onOpen: function () {
          console.log('modal open');
          $('.slick-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
          });
        },
        onClose: function () {
          console.log('modal closed');
        },
        beforeClose: function () {
          // here's goes some logic
          // e.g. save content before closing the modal
          return true; // close the modal
          return false; // nothing happens
        }
      });

      modal.setContent(document.querySelector('.content--modal').innerHTML)

      // add a button
      modal.addFooterBtn('Watch Now', 'tingle-btn tingle-btn--primary center-block', function () {
        if ($(window).width() < 480 || $(window).height() < 480) {
          syncVideo(store)
        }
        modal.close();
      });

      // open modal
      modal.open();

    });
  </script>

</body>

</html>