@charset "utf-8";

.chat{
  display: flex;
  flex-flow: column;
  height:100vh;

  @include tablet {
    //height: 50vh;
    width: 100%;    
    flex: 1;
    display: flex;
  }
}

.chat--body{
  flex: 1;
  display: flex;
  z-index: 1;
}
.chat--body ul{
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}
.chat--body li{
  padding: 5px 15px;
  font-size: 12px;
  &:nth-child(odd){
  }
}
.chat--body li.l--notification{
  margin-bottom: 5px;
}
.chat--body li.l--notification span{
  background: #e1e1e1;
  padding: 5px;
  border-radius: 2px;
}
.chat--body li.l--register div{
  background: #e1e1e1;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 5px;
}
.chat--body li.l--mention{
  background: #FFF3B8;
}
.chat--body li span.l--admin{
  background-color: #ff0000;
  color: #fefefe;
  padding: 0px 3px 0px 3px;
}
.chat--body li span.l--moderator{
  background-color: #8700ff;
  color: #fefefe;
  padding: 0px 3px 0px 3px;
}

.chat--settings{
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  overflow: hidden;
  overflow-y: scroll;
}
.chat--settings .l--label{
  color: #0d75ff;
  padding-bottom: 0px;
  font-weight: 600;
}
.chat--settings input{
  padding-top: 0px;
}

.chat--nav{
  background: $white;
  font-size: 12px;
  z-index: 2;
}
.chat--nav p{
  font-size: 12px;
  padding: 10px 0px;
  color: #777;
}
.chat--nav form{
}
.chat--nav input{
  padding: 0px;
}
.chat--nav button{
  background: $white;
  color: $basic;
  border: none;
  padding: 10px;
}
.chat--nav .l--form{
  padding-top: 10px;
  padding-bottom: 20px;
}
.chat--nav .l--form input{
  padding: 10px 0px 5px 0px;
  margin-bottom: 5px;
  border-bottom: 1px solid $border;
}
.chat--nav .l--form .l--submit{
  background: #0d75ff;
  padding: 5px 0px;
  width: 100%;
  color: #fefefe;
  font-size: 12px;
  border-radius: 2px;
}

.chat--write{
  border-top: 1px solid $border;
}
.chat--write textarea{
}
.chat--header{
  border-bottom: 1px solid $border;
}

.chat--emoji{
  padding: 10px 0px;
}
.chat--emoji img{
  float: left;
  padding-right: 5px;
}
.chat--emoji-btn{
  font-size: 16px;
  padding: 10px 0px;
  color: #666;
}
