@charset "utf-8";

.content{
  background: $black;
  @include desktop {
    position: relative;
    height: 100vh;
  }
  @include tablet {
    //height: 50vh;
    width: 100%;
  }
}

.slick-slider{
  text-align: center;
  h3{
    margin-bottom: 5px;
  }
  p{
    font-size: 12px;
  }
}

.tingle-btn{
  width: 100%;
}

.content--play-btn{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index:2;
  width: 100%;
  height: 100%;
  text-align: center;

  @include tablet {
    top: 30%;
  }
}
.content--play-btn i{
  cursor: pointer;
  font-size: 100px;
  &:hover{
    opacity: 0.5;
  }
}

.content--video{
  z-index:1;
  @include desktop{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.content--player{

}
.content--toolbar{
  //background: rgba(0,0,0,0.7);
  background: -moz-linear-gradient(top, transparent 0%, rgba(38, 38, 38, 0.7) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(38, 38, 38, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(38, 38, 38, 0.7) 100%);
  position: absolute;
  bottom: 0px;
  color: $white;
  padding: 10px 0px;
  width: 100%;
}
.content--toolbar .l--title p{
  font-weight: 600;
}
.content--toolbar li{
  cursor: pointer;
  float: right;
  padding: 0px 10px;
  &:first-child{
    padding-right: 15px;
  }
}
.content--toolbar .l--control{
  @include tablet{
    display: none;
  }
}

.content--credit{
  position: absolute;
  bottom: 0;
  color: #a1a1a1;
  a{
    color: #c1c1c1;
    cursor: pointer;
  }
  @include tablet {
    display: none;
  }
}
