@charset "utf-8";

//Set Variables
.row{
  //display: flex;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66667%;
}
.col-10 {
  width: 83.33333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66667%;
}
.col-7 {
  width: 58.33333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66667%;
}
.col-4 {
  width: 33.33333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66667%;
}
.col-1 {
  width: 8.333333%;
}

@include tablet {
  .col-12{
    width: 100%;
  }
  .col-11{
    width: 100%;
  }
  .col-10{
    width: 100%;
  }
  .col-9{
    width: 100%;
  }
  .col-8{
    width: 100%;
  }
  .col-7{
    width: 100%;
  }
  .col-6{
    width: 100%;
  }
  .col-5{
    width: 100%;
  }
  .col-4{
    width: 100%;
  }
  .col-3{
    width: 100%;
  }
  .col-2{
    width: 100%;
  }
  .col-1{
    width: 100%;
  }

  .col-12.is-fixed {
    width: 100%;
  }
  .col-11.is-fixed {
    width: 91.66667%;
  }
  .col-10.is-fixed {
    width: 83.33333%;
  }
  .col-9.is-fixed {
    width: 75%;
  }
  .col-8.is-fixed {
    width: 66.66667%;
  }
  .col-7.is-fixed {
    width: 58.33333%;
  }
  .col-6.is-fixed {
    width: 50%;
  }
  .col-5.is-fixed {
    width: 41.66667%;
  }
  .col-4.is-fixed {
    width: 33.33333%;
  }
  .col-3.is-fixed {
    width: 25%;
  }
  .col-2.is-fixed {
    width: 16.66667%;
  }
  .col-1.is-fixed {
    width: 8.333333%;
  }
}
